@import 'variables';
@import 'container';
@import 'barChart';
@import '_mixins';

body, html {
	margin: 0px;
	height: 100%;
}
* {
	box-sizing: border-box;
}

#app {
	padding: 30px;
	background-color: var(--background-color);
	min-height: 100%;
	width: 100%;
}