@import 'variables';
@import 'container';
@import 'barChart';
@import '_mixins';

body, html {
	margin: 0px;
	height: 100%;
}
* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	padding: $page-padding;
	background-color: $page-background-color;
	width: 100%;
	position: relative;
	overflow: hidden;
}