@import 'variables';
@import 'container';
@import 'barChart';
@import '_mixins';

body {
	margin: 0px;
}
* {
	box-sizing: border-box;
}

#app {
	padding: 30px;
	background-color: var(--background-color)
}