
body{
	margin: 0px;
	position: relative;
  }
  .topLeft{
	position: absolute;
	height:200px;
	width: 300px;
	transform: translateX(-70px) skewX(35deg);
	background-color: blue;
	margin: 0px;
  }
  .topRight{
	position: absolute;
	height:200px;
	width: 9000px;
	transform: translateX(230px) skewX(35deg);
	background-color: gray;
	margin: 0px;
	-webkit-transition: -webkit-transform 2s ease-in-out;
  
  }